/* These CSS rules apply to the <html>, <body>, and <div id="app"> HTML elements in index.html */
html, body, #app {
  min-height: 100vh;
  margin: 0;
}

/* Continue building out the CSS styling for your Twiddler app below! We got you started by
providing a space for you to apply styles to your app's outermost HTML element - the #app itself. */

#app {
  box-sizing: border-box;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right top, #DAE2F8, #D6A4A4);
}

input:focus{
  outline-color: #f7b264;
}

.glass {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255,255,255,0.1));
  border-radius: 25px;
  display: flex;
  min-height: 80vh;
  max-width: 1500px;
  /* width: 80%; */
  /* align-items: center; */
}

/* Rounding the photos */
.circular--portrait {
  margin: 10px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.circular--portrait img {
  width: 100%;
  height: auto;
}

/* DASHBOARD */
.dashboard {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255,255,255,0.3));
  border-radius: 20px;
  width: 25%;

  /* display: flex;
  flex: 1; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  text-align: center;
}

.user {
  padding: 20px 30px;
}

.user .circular--portrait {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.user h3 {
  font-size: 24px;
  margin: 0;
  padding: 0 10px;
}

.user h4 {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
}

.user a{
  color:black;
}
.logout:active {
  color:red;
}
.logout:visited {
  color:black;
}

.friend-list {
  display: block;

}

.friend-list h2{
  margin: 6px
}

.filter-user input{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: italic;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255,255,255,0.3));
  border: none;
  padding: 7px;
  border-radius: 56px;
  text-align: center;
}

.friends {
  text-align: left;
  font-weight: 100;
  text-decoration: none;
  margin-left: 40px;
}

.friends li:hover {
  cursor: pointer;
  font-style: italic;
  font-weight: 500;
}

/* NEWSFEED */
.newsfeed {
  display: flex;
  margin: 4rem;
  flex-direction: column;
  justify-content: space-between;
}

/* TITLE */
#title {
  font-family: 'Neonderthaw', cursive;
  /* box-shadow:rgba(255, 255, 255, 0.1); */
  font-size: 90px;
  color: #ff8800;
  text-align: center;
  margin: 0;
}

.status {
  display: block;
  /* flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem; */
  margin: 0 auto;
}

.status input {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255,255,255,0.3));
  border: none;
  border-radius: 25px;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: italic;
  margin: 10px auto;
  padding: 20px;
  width: 400px;
}

.status button {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255,255,255,0.3));
  border: none;
  border-radius: 1.2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding: 15px;
  margin: 5px;
}

.status button:active {
  /* background:red; */
  box-shadow: inset -5px 3px 12px rgba(122, 122, 122, 0.3);
}

.home-refresh{
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

#refresh, #home{
  border:none;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  text-decoration: none;
}

#refresh:visited, #home:visited{
  color:black;
}

.tweet {
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  border-radius: 1rem;
  display: flex;
  margin-bottom: 2rem;
  padding: 10px;
}

.tweet .user-handle {
  font-size: 18px;
  margin: 10px;
}

.tweet .timestamp {
  margin: 0;
  font-size: 13px;
  font-weight: 100;
  margin-left: 10px;
}

.tweet .message {
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  max-width: 700px;
}

.icons {
  display: flex;
  justify-content: flex-start;
  /* margin-left: 15px; */
  font-size: 20px;
}

.icons:hover{
  cursor: pointer;
}

.fa-heart:hover {
  color:red;
}

.fa-comment:hover {
  color:#2BCAF9
}

.fa-retweet:hover {
  color: green;
}

.fa-share-square:hover {
  color:blueviolet;
}

.icons .far, .fas {
  padding: 5px;
  margin: 10px;
}