/* These CSS rules apply to the <html>, <body>, and <div id="app"> HTML elements in index.html */
html, body, #app {
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Continue building out the CSS styling for your Twiddler app below! We got you started by
providing a space for you to apply styles to your app's outermost HTML element - the #app itself. */

#app {
  background-color: pink;
  color: black;
}

/*
hover color change for icons
*/

.comment, .retweet, .like, .share {
  color: purple;
}

.comment:hover, .retweet:hover, .like:hover, .share:hover {
  color: red;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container-1-3, .container-2-3 {
  margin: 0 auto;
  width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  vertical-align: top;
}

.container-1-3 {
  width: 33.33%;
  background-color: gray;
}

.container-2-3 {
  width: 66.66%;
}

.tweet {
  border: 0;
  border-radius: 5px;
  height: auto;
}

.message {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-weight: 100;
  margin: 0;
  text-align: center;
  padding: 1px;
}
